<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Database Reader</title>

    <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/jumbotron-narrow.css">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>

 
<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li id="taskOneButton" role="presentation"><a href="taskOne">Task One</a>
                    </li>
                    <li id="taskTwoButton" role="presentation"><a href="taskTwo">Task Two</a>
                    </li>
                    <li id="taskThreeButton" role="presentation"><a href="/taskThree">Task Three</a>
                    </li>
                    <li id="taskFourButton" role="presentation"><a href="/taskFour">Task Four</a>
                    </li>
                </ul>
            </nav>
            <h2 class="text-muted" style="color: steelblue">SSE Database Reader</h2>
        </div>


        <h3 id="default_task" style="color: cornflowerblue">Welcome!</h3>
        <p>This web application was created for users to better analyze data from the Shanghai Stock Exchange.</p>

        <p>Below is the link to the cite where the data was collected:</p>
        <a href="http://www.sse.com.cn/market/othersdata/margin/sum/">Shanghai Stock Exchange</a>

        <br>
        <br>

        <footer class="footer">
            <p>&copy; Daniel Rosenbaum 2017</p>
        </footer>
 
    </div>
</body>
 
</html>