<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Database Reader | Task Three</title>
 
    <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/jumbotron-narrow.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        a:hover {text-decoration: none;}
    </style>
 
</head>

 
<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li id="taskOneButton" role="presentation"><a href="taskOne">Task One</a>
                    </li>
                    <li id="taskTwoButton" role="presentation"><a href="taskTwo">Task Two</a>
                    </li>
                    <li id="taskThreeButton" role="presentation" class="active"><a href="#">Task Three</a>
                    </li>
                    <li id="taskFourButton" role="presentation"><a href="taskFour">Task Four</a>
                    </li>
                </ul>
            </nav>
            <a href="/">
                <h2 class="text-muted" style="color: steelblue">SSE Database Reader</h2>
            </a>
        </div>

        <div id="task_three">
            <h3 style="color: cornflowerblue">Task Three</h3>
            <br>
            <h4 style="color: gray">Page currently under construction</h4>
        </div>

        <br>

        <footer class="footer">
            <p>&copy; Daniel Rosenbaum 2017</p>
        </footer>
 
    </div>
</body>
 
</html>